<header class="header">
  <div class="header-container container">
    <a href="./index.html" class="header-logo">
      <img src="./img/logo.svg" alt="ArtistsHub logo" />
    </a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li><a href="#artists" class="header-nav-link">Artists</a></li>
        <li><a href="#about" class="header-nav-link">About Us</a></li>
        <li><a href="#reviews" class="header-nav-link">Reviews</a></li>
      </ul>
    </nav>

    <button
      type="button"
      class="burger-menu-btn"
      aria-label="Open mobile menu"
      data-menu-open
    >
      <svg class="burger-menu-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu" data-menu>
    <div class="mobile-menu-container">
      <button
        type="button"
        class="mobile-menu-close-btn"
        aria-label="Close mobile menu"
        data-menu-close
      >
        <svg class="mobile-menu-close-icon" width="20" height="20">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>

      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-nav-list">
          <li>
            <a href="#artists" class="mobile-menu-nav-link" data-menu-link
              >Artists</a
            >
          </li>
          <li>
            <a href="#about" class="mobile-menu-nav-link" data-menu-link
              >About Us</a
            >
          </li>
          <li>
            <a href="#reviews" class="mobile-menu-nav-link" data-menu-link
              >Reviews</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
